.navbar-dark{
    background-color: #1b003d;
}

.navbar-collapse {
    margin-left: 10px;
}

.searchButton {
    padding-left: 50px;
}

.jumbotron{
    margin: 0;
    padding: 0px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.466);
}

